---
// HeroBackground component - provides background image for Hero
import BlurImage from '../lib/BlurImage.astro';
---

<!-- Hero Background -->
<div class="absolute inset-0 w-full h-full">
  <div class="w-full h-full">
    <BlurImage 
      src="https://autosalonvolketswil.ch/wp-content/uploads/2025/06/ASV-SHOWROOM1-2-scaled.jpg"
      alt="Autosalon Hero Background"
    />
  </div>
  <!-- Overlay for better text readability -->
  <div class="absolute inset-0 bg-primary/70"></div>
</div> 

<!--
https://autosalonvolketswil.ch/wp-content/uploads/2025/06/ASV-SHOWROOM-OPENING5-scaled.jpg
https://autosalonvolketswil.ch/wp-content/uploads/2025/06/ASV-SHOWROOM-OPENING4-scaled.jpg
https://autosalonvolketswil.ch/wp-content/uploads/2025/06/ASV-SHOWROOM-OPENING8-scaled.jpg
https://autosalonvolketswil.ch/wp-content/uploads/2025/06/ASV-SHOWROOM-OPENING1-scaled.jpg
https://autosalonvolketswil.ch/wp-content/uploads/2025/06/ASV-SHOWROOM-OPENING13-scaled.jpg


https://autosalonvolketswil.ch/wp-content/uploads/2025/06/DSC00475-1024x684.jpg
https://autosalonvolketswil.ch/wp-content/uploads/2025/06/ASV-SHOWROOM3-3-scaled.jpg

https://autosalonvolketswil.ch/wp-content/uploads/2025/06/DSC00479-1-scaled.jpg
https://autosalonvolketswil.ch/wp-content/uploads/2025/06/DSC00478-scaled.jpg
https://autosalonvolketswil.ch/wp-content/uploads/2025/06/DSC00476-scaled.jpg
-->